@use "../utils/mixin.scss" as *;

.main {
  position: relative;
  grid-row: 2 / 3;
  padding: 20vh 20px;
  overflow: hidden;

  @include min-screen() {
    padding-top: 5vw;
    padding-bottom: 60px;
  }
}

.h1 {
  margin: 0 0 40px;
}

.logo {
  display: block;
  width: 450px;
  max-width: 40vw;
  height: auto;
  margin: 0 auto;
  opacity: 0;
  transition: 2s opacity ease-out .3s;
  aspect-ratio: 1 / 1;

  &[data-state="loaded"] {
    opacity: 1;
  }
}

.lede {
  text-align: center;

  &__inner {
    font-family: serif;
    font-size: 30px;
  }
}
